In [35]:
import time
from datetime import datetime
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt 
import seaborn as sns

# main_dir = 
Dataset_name = 'clean_data_set.csv'

df = pd.read_csv(os.path.join('./Data/',Dataset_name))

df.head()

,name,type_company,lat,lon,city,avg_stars_num,n_reviews_num,encoded_user,local_guide,clean_other_review_num,published_date,today_date,stars_num,review_EN,original_lang,number_of_reviews
0,Dekkers Transport Holland,Trucking company,51.597249,5.02799,Tilburg,4.6,53.0,Pp1)c,0.0,5.0,a year ago,2022-09-24,5.0,Best employer ever. Worked there for approxima...,ENG,19
1,Dekkers Transport Holland,Trucking company,51.597249,5.02799,Tilburg,4.6,53.0,*nk1l,0.0,2.0,a year ago,2022-09-24,5.0,better place with very good people everything ...,ENG,19
2,Dekkers Transport Holland,Trucking company,51.597249,5.02799,Tilburg,4.6,53.0,69lOZ,0.0,3.0,4 years ago,2022-09-24,5.0,Nice,ENG,19
3,Dekkers Transport Holland,Trucking company,51.597249,5.02799,Tilburg,4.6,53.0,&7jv4,0.0,27.0,3 months ago,2022-09-24,5.0,Good firm. The staff are very welcoming and f...,NOT_ENG,19
4,Dekkers Transport Holland,Trucking company,51.597249,5.02799,Tilburg,4.6,53.0,K2#6M,1.0,24.0,4 months ago,2022-09-24,5.0,"Top company, and coffee, so recommended\n\n",NOT_ENG,19

Convert relative time stamp to an estimated absolute date

In [36]:
import parsedatetime.parsedatetime as pdt
from datetime import datetime, timedelta
p = pdt.Calendar()
print(p.parse)



def parseDate(relative: str):
    parsed, status = p.parse(relative)
    # Offset datetime to when it was scraped
    return datetime(*parsed[:6]) + timedelta(days=-117)

df["published_date"] = df["published_date"].map(parseDate)

<bound method Calendar.parse of <parsedatetime.Calendar object at 0x7f9bc5091dc0>>

In [37]:
df.to_csv("./Data/dashboard_data.csv")

Index(['name', 'type_company', 'lat', 'lon', 'city', 'avg_stars_num',
       'n_reviews_num', 'encoded_user', 'local_guide',
       'clean_other_review_num', 'published_date', 'today_date', 'stars_num',
       'review_EN', 'original_lang', 'number_of_reviews'],
      dtype='object')

## Filter to companies of interest

In [43]:

companies = pd.read_csv('./output/selected_companies.csv')
company_names = companies["company"].tolist()
print(company_names)

['NUNNER Logistics BV', 'Base Logistics BV', 'De Graaf Logistics BV', 'Van Spreuwel Transport', 'GVT Transport & Logistics Tilburg', 'Rhenus Contract Logistics Eindhoven B.V.', 'Van den Broek Logistics BV', 'Transport J.A. van Wanrooy BV', 'Speedliner Logistics BV', 'Schavemaker Transport Breda B.V.', 'DNA United Forwarders Ltd.', 'Otentic Logistics B.V.', 'VDH Cool Logistics BV', 'First Logistics B.V.', 'TOP Logistics BV', 'Claassen Logistics', 'Vortex Logistics', 'Hartog Logistics B.V.', 'Newcorp Logistics B.V.', 'Nord Cargo BV']

In [58]:
df_filtered = df[df["name"].isin(company_names)]
df_filtered.to_csv("./Data/dashboard_data.csv")
df_filtered.head()

,name,type_company,lat,lon,city,avg_stars_num,n_reviews_num,encoded_user,local_guide,clean_other_review_num,published_date,today_date,stars_num,review_EN,original_lang,number_of_reviews
127,Transport J.A. van Wanrooy BV,Logistics service,51.666353,4.833532,Oosterhout,4.4,114.0,FRC)t,0.0,38.0,2020-09-21 20:19:30,2022-09-23,5.0,"Nice people . Fast loading ,( well atleast for...",ENG,48
128,Transport J.A. van Wanrooy BV,Logistics service,51.666353,4.833532,Oosterhout,4.4,114.0,k@Bu%,1.0,108.0,2018-09-21 20:19:30,2022-09-23,5.0,Good and reliable transport company,ENG,48
129,Transport J.A. van Wanrooy BV,Logistics service,51.666353,4.833532,Oosterhout,4.4,114.0,x0N%),1.0,51.0,2021-09-21 20:19:30,2022-09-23,5.0,Ok,ENG,48
130,Transport J.A. van Wanrooy BV,Logistics service,51.666353,4.833532,Oosterhout,4.4,114.0,)!CFR,1.0,49.0,2021-09-21 20:19:30,2022-09-23,3.0,Ok,ENG,48
131,Transport J.A. van Wanrooy BV,Logistics service,51.666353,4.833532,Oosterhout,4.4,114.0,GJeDR,1.0,153.0,2018-09-21 20:19:30,2022-09-23,4.0,Top Personal.,ENG,48

## Word counts