In [76]:
import time
from datetime import datetime
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt 
import seaborn as sns

# main_dir = 
Dataset_name = 'clean_data_set.csv'

# df = pd.read_csv(os.path.join('./Data/',Dataset_name))
df = pd.read_excel(os.path.join('./Output/','Sent_Analysis_Roberta.xlsx'))

df.head()

,Unnamed: 0.1,Unnamed: 0,name,type_company,lat,lon,city,avg_stars_num,n_reviews_num,encoded_user,...,clean_other_review_num,published_date,today_date,stars_num,review_EN,original_lang,Negative,Neutral,Positive,Roberta_Sentiment
0,0,3,Dekkers Transport Holland,Trucking company,51.597249,5.027990,Tilburg,4.6,53,Pp1)c,...,5,a year ago,2022-09-24,5,Best employer ever. Worked there for approxima...,ENG,19.696923,29.049307,51.253772,Positive
1,1,4,Dekkers Transport Holland,Trucking company,51.597249,5.027990,Tilburg,4.6,53,*nk1l,...,2,a year ago,2022-09-24,5,better place with very good people everything ...,ENG,0.233895,1.816870,97.949243,Positive
2,2,5,Dekkers Transport Holland,Trucking company,51.597249,5.027990,Tilburg,4.6,53,69lOZ,...,3,4 years ago,2022-09-24,5,Nice,ENG,6.603812,35.445267,57.950914,Positive
3,3,475,GVT Transport & Logistics Tilburg,Logistics,51.599276,5.013881,Tilburg,4.0,321,a!eIE,...,18,2 years ago,2022-09-29,5,Nice,ENG,6.603812,35.445267,57.950914,Positive
4,4,1435,Newcorp Logistics B.V.,Trucking company,51.813750,4.527254,Heinenoord,4.1,143,x#kZV,...,1773,5 years ago,2022-09-25,4,Nice,ENG,6.603812,35.445267,57.950914,Positive

Convert relative time stamp to an estimated absolute date

In [77]:
import parsedatetime.parsedatetime as pdt
from datetime import datetime, timedelta
p = pdt.Calendar()
print(p.parse)



def parseDate(relative: str):
    parsed, status = p.parse(relative)
    # Offset datetime to when it was scraped
    return datetime(*parsed[:6]) + timedelta(days=-117)

df["published_date"] = df["published_date"].map(parseDate)

<bound method Calendar.parse of <parsedatetime.Calendar object at 0x7f9bcabe73d0>>

In [78]:
df.to_csv("./Data/dashboard_data.csv")

## Filter to companies of interest

In [83]:

companies = pd.read_csv('./output/selected_companies.csv', encoding = "ISO-8859-1")
company_names = companies["company_name"].tolist()

In [86]:
df_filtered = df[df["name"].isin(company_names)]
df_filtered.to_csv("./Data/dashboard_data.csv")
df_filtered.head()
df_filtered.shape
df_filtered.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'name', 'type_company', 'lat', 'lon',
       'city', 'avg_stars_num', 'n_reviews_num', 'encoded_user', 'local_guide',
       'clean_other_review_num', 'published_date', 'today_date', 'stars_num',
       'review_EN', 'original_lang', 'Negative', 'Neutral', 'Positive',
       'Roberta_Sentiment'],
      dtype='object')

## Word counts