In [ ]:
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
import pandas as pd
import os
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
cdir = os.getcwd()

In [2]:
cdir = os.getcwd()
#set place ID

path_data = 
save_aggrdata_path = '/Users/giu/Documents/Business/Operations/Pilot_1/code/logistics/data/aggregated_data'
file_name = 'AggregatedData_Logistics_Breda_Rotterdam_Eindhoven.csv'

all_data = pd.read_csv(os.path.join(save_aggrdata_path,file_name),index_col=0)

In [6]:
all_data.dtypes

place_id               object
name                   object
address                object
avg_stars              object
n_reviews              object
website                object
type_company           object
lat                   float64
lon                   float64
reviewer_name          object
reviewer_url           object
done_reviews           object
stars                  object
published_date         object
today_date             object
review                 object
local_guide           float64
clean_other_review     object
review_EN              object
city                   object
encoded_user           object
original_lang          object
stars_num             float64
avg_stars_num         float64
dtype: object

In [34]:
all_data['original_lang']

0           NaN
1           NaN
2           NaN
3           ENG
4           ENG
         ...
8075        NaN
8076    NOT_ENG
8077        NaN
8078        NaN
8079        NaN
Name: original_lang, Length: 8080, dtype: object

In [8]:
# convert stars from string to int
all_data['stars_num'] = np.nan
all_data['avg_stars_num'] = np.nan
all_data['n_reviews_num'] = np.nan
all_data['stars_num'].loc[~all_data['stars'].isnull()] = [float(i.split('star')[0]) for i in all_data['stars'].loc[~all_data['stars'].isnull()].values]
all_data['avg_stars_num'].loc[~all_data['avg_stars'].isnull()] = [float(i.split('star')[0]) for i in all_data['avg_stars'].loc[~all_data['avg_stars'].isnull()].values]
all_data['n_reviews_num'].loc[~all_data['n_reviews'].isnull()] = [float(i.split('review')[0]) for i in all_data['n_reviews'].loc[~all_data['n_reviews'].isnull()].values]
all_data['clean_other_review'] = [i.replace(',','') for i in all_data['clean_other_review'].astype(str)]
all_data['clean_other_review_num'] = np.nan
all_data['clean_other_review_num'].loc[~all_data['clean_other_review'].isnull()] = all_data['clean_other_review'].loc[~all_data['clean_other_review'].isnull()].astype(float)

In [36]:
TechLabsDataset = all_data[['name',
 'type_company',
 'lat',
 'lon',
 'city',
 'avg_stars_num',
 'n_reviews_num',
 'encoded_user',
 'local_guide',
 'clean_other_review_num',
 'published_date',
 'today_date',
 'stars_num',
 'review_EN',
 'original_lang']]

N companies  391

In [56]:
TechLabsDataset_Dictionary = TechLabsDataset.dtypes.reset_index()
TechLabsDataset_Dictionary.columns = ['variable','type']
TechLabsDataset_Dictionary['description'] = [
    'Business name',
    'Type of company: Trucking company, Warehouse, Shipping company, etc',
    'Latitude',
    'Longitude',
    'City',
    'Average received stars',
    'Total number of reviews',
    'Reviewer id',
    'Flag: 1 if reviewer is local guide, otherwise 0',
    'Number of other reviews written by the same reviewer',
    'Date of publication of the review',
    'Date of gathering of the review',
    'Stars associated to one review',
    'Review text in English',
    'Is ENG if original language is English, otherwise NOT_ENG'
]
TechLabsDataset_Dictionary.to_csv(os.path.join(save_aggrdata_path,'TechLabsDataset_Dictionary.csv'))
TechLabsDataset.to_csv(os.path.join(save_aggrdata_path,'TechLabsDataset.csv'))

In [58]:
from tabulate import tabulate
TechLabsDataset_Dictionary
# print(tabulate(TechLabsDataset_Dictionary, headers='firstrow', tablefmt='pretty'))
display(TechLabsDataset_Dictionary)
TechLabsDataset_Dictionary.to_clipboard()
TechLabsDataset.shape

,variable,type,description
0,name,object,Business name
1,type_company,object,"Type of company: Trucking company, Warehouse, ..."
2,lat,float64,Latitude
3,lon,float64,Longitude
4,city,object,City
5,avg_stars_num,float64,Average received stars
6,n_reviews_num,float64,Total number of reviews
7,encoded_user,object,Reviewer id
8,local_guide,float64,"Flag: 1 if reviewer is local guide, otherwise 0"
9,clean_other_review_num,float64,Number of other reviews written by the same re...
10,published_date,object,Date of publication of the review
11,today_date,object,Date of gathering of the review
12,stars_num,float64,Stars associated to one review
13,review_EN,object,Review text in English
14,original_lang,object,"Is ENG if original language is English, otherw..."

(8080, 15)

In [42]:
n_companies = TechLabsDataset[['name','city']].drop_duplicates().shape[0]#len(np.unique(all_data['name']))
print('N companies ', n_companies)

N companies  391

In [ ]:
np.unique(all_data['today_date'].astype(str))

In [ ]:
total_reviews = all_data['review'].loc[~all_data['review'].isnull()].shape[0]
total_ratings = all_data['stars'].loc[~all_data['stars'].isnull()].shape[0]
print(total_ratings,total_reviews)

In [ ]:
all_data[['name','city']].value_counts().reset_index()

In [ ]:
# proportion of companies for rating and reviews

In [ ]:
all_data.head()

In [ ]:
len(np.unique(all_data.loc[all_data['avg_stars'].isnull(),:]['name']))

In [ ]:
n_companies-all_data.loc[all_data['avg_stars'].isnull(),:].shape[0]

In [ ]:
n_companies-all_data.loc[all_data['avg_stars'].isnull(),:].shape[0]

In [ ]:

tmp = all_data[['name','city']].value_counts().reset_index()
tmp.columns = ['company name','city','data_rows']
# seaborn.ecdfplot(data=None, *, x=None, y=None, hue=None
fig, ax = plt.subplots(figsize = (5,5))
sns.ecdfplot(data = tmp, x = 'data_rows',ax = ax)
y_null = all_data.loc[all_data['avg_stars'].isnull(),:].shape[0]/n_companies
# plt.axvline(x=xi, color='gray', linestyle='--')
# plt.axhline(y=0.8, color='gray', linestyle='--')
# plt.axhline(y=y_null, color='gray', linestyle='--') 
# ax.set_xlim([0,20])
for y_special in np.asarray([y_null, 0.8]):

    for line in ax.get_lines():
        x, y = line.get_data()
        ind = np.argwhere(y >= y_special)[0, 0]  # first index where y is larger than y_special
        # x[ind] is the desired x-value
        ax.text(x[ind], y_special, f' {x[ind]:.1f}', ha='left', va='top') # maybe color=line.get_color()
#        plt.show()

for y_special in np.asarray([y_null, 0.8]):
    ax.axhline(y_special, linestyle='--', color='#cfcfcf', lw=2, alpha=0.75)

In [ ]:
x,y

In [ ]:
tmp = all_data[['name','n_reviews','avg_stars']].drop_duplicates().sort_values('n_reviews')
# number of companies with review
print(tmp.loc[tmp['n_reviews'].isnull(),:].shape,tmp.loc[~tmp['n_reviews'].isnull(),:].shape)
# number of companies with ratings
print(tmp.loc[tmp['avg_stars'].isnull(),:].shape,tmp.loc[~tmp['avg_stars'].isnull(),:].shape)

In [ ]:
city_provenance = all_data[['name','city']].drop_duplicates()['city'].value_counts()
city_provenance = city_provenance.reset_index()
city_provenance.columns = ['city','N companies']


from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='myapplication')
city_lat = []
city_lon = []
for i in city_provenance['city']:
    if i == 'Belgium':
        location = geolocator.geocode("Belgium")
    else:
        location = geolocator.geocode(i+" Netherlands")
    city_lat.append(location.latitude)
    city_lon.append(location.longitude)
city_provenance['lat'] = city_lat
city_provenance['lon'] = city_lon

In [ ]:
# plot number of companies per city

In [ ]:
fig,ax = plt.subplots(figsize = (15,3))
g = sns.barplot(data = city_provenance, x = 'city',y = 'N companies',color = 'b')
# g.set_xticklabels(rotation=90)
# plt.xticks(rotation=45)
ax.tick_params(axis='x', rotation=90)

In [ ]:
# map number of companies per city

In [ ]:

import plotly.express as px
import pandas as pd
import plotly.figure_factory as ff
api_token = 'pk.eyJ1IjoiZ2l1c2NoaSIsImEiOiJja29iZHJ1cHAxZGR1Mm9tcTMwMno2Mm9uIn0.XFFL7SFpHHP3ZqYUq_XeiA'
px.set_mapbox_access_token(api_token)

location = geolocator.geocode(" Netherlands")
fig = px.scatter_mapbox(city_provenance, lat="lat", lon="lon",  color="N companies", size='N companies',
                  color_continuous_scale='viridis', size_max=15, zoom=6, center = {
                      
            'lat': location.latitude,
            'lon': location.longitude
                  }, #mapbox_style = 'streets'
            
        )

fig.update_layout(coloraxis_colorbar=dict(
    title="N companies",
    thicknessmode="pixels", thickness=10,
    lenmode="pixels", len=200,
    yanchor="top", y=1,
    ticks="outside", 
    dtick=5
))
fig.update_layout(height = 600,width = 600, margin=dict(b=20, t=50, l=50, r=0))
fig.show()

In [ ]:
all_data[['name','city']].drop_duplicates()['name'].value_counts()

In [ ]:
all_data[['name','type_company']].drop_duplicates()['name'].value_counts()

In [ ]:
all_data[['name','type_company']].drop_duplicates()['type_company'].value_counts().plot(kind = 'hbar')

In [ ]:
all_data[['name','type_company']].drop_duplicates()['type_company'].value_counts()