In [295]:

import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt 
import seaborn as sns
import requests
import json
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup

# Load DataSet and Data Dictionary

In [296]:
# main_dir = 
Dataset_name = 'TechLabsDataset.csv' 
DataDictionary_name = 'TechLabsDataset_Dictionary.csv'

Dataset = pd.read_csv(os.path.join('./Data/',Dataset_name), index_col = 0)
DataDictionary = pd.read_csv(os.path.join('./Data/',DataDictionary_name), index_col = 0)
Dataset.head()

,name,type_company,lat,lon,city,avg_stars_num,n_reviews_num,encoded_user,local_guide,clean_other_review_num,published_date,today_date,stars_num,review_EN,original_lang
0,Caretrex warehousing & logistics,Logistics service,51.593721,5.073492,Tilburg,5.0,2.0,HHpDM,0.0,4.0,2 years ago,2022-09-24,5.0,NaN,NaN
1,Caretrex warehousing & logistics,Logistics service,51.593721,5.073492,Tilburg,5.0,2.0,dYFWx,0.0,1.0,5 years ago,2022-09-24,5.0,NaN,NaN
2,FEFA Logistics,Trucking company,51.480074,5.446764,Eindhoven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dekkers Transport Holland,Trucking company,51.597249,5.027990,Tilburg,4.6,53.0,Pp1)c,0.0,5.0,a year ago,2022-09-24,5.0,Best employer ever. Worked there for approxima...,ENG
4,Dekkers Transport Holland,Trucking company,51.597249,5.027990,Tilburg,4.6,53.0,*nk1l,0.0,2.0,a year ago,2022-09-24,5.0,better place with very good people everything ...,ENG

In [297]:
number_reviews_per_company = Dataset[~Dataset['review_EN'].isnull()][['name','city']].value_counts().reset_index(name ='#reviews')

# number_reviews_per_company['#reviews'].describe()
# number_reviews_per_company[number_reviews_per_company['#reviews']>=20]
number_reviews_per_company

                             name        city  #reviews
0            First Logistics B.V.  Nieuwegein       293
1          Van Spreuwel Transport   Eindhoven       288
2             NUNNER Logistics BV     Helmond       143
3              Claassen Logistics     Tilburg       135
4            ID Logistics Benelux     Tilburg       123
..                            ...         ...       ...
182  DHL Techn. Distribution B.V.   Eindhoven         1
183       TPL Transport Logistics     Belgium         1
184           The Sting Companies     Tilburg         1
185     Crane Worldwide Logistics   Rotterdam         1
186                Über Logistics   Eindhoven         1

[187 rows x 3 columns]

# scrape from https://graydongo.nl/nl/

In [301]:
# conda install -c conda-forge webdriver-manager

# set driver options
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By


def get_graydongo(company_name,company_city):
    driver = webdriver.Chrome(ChromeDriverManager().install())
    url = 'https://graydongo.nl/nl/'
    driver.get(url)

    time.sleep(4)
    # click on cookies
    cook_btn = driver.find_element(By.ID, 'CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll')
    cook_btn.click()

    # set company name in search box
    text_space = driver.find_element(By.NAME, "search")
    text_space.send_keys(company_name)
    time.sleep(4)

    # click on search box
    cook_btn =  driver.find_element(By.CSS_SELECTOR, "button[type='button']")
    cook_btn.click()
    time.sleep(10)

    # alternative - 
    cook_btn = driver.find_elements(By.CLASS_NAME, "company-name")


    get_all_companies_in_search_list = list()
    for j in np.arange(len(cook_btn)):
        get_all_companies_in_search_list.append(cook_btn[j].text)
    
    # click on the first company
    html_str = cook_btn[0].get_attribute('innerHTML')
    new_url = html_str.split('"')[1]
    
    driver.get(new_url)

    # # alternative - 
    # cook_btn =  driver.find_elements(By.CLASS_NAME, "search-highlight")

    resp = BeautifulSoup(driver.page_source, 'html.parser')

    GD_Name = resp.find_all('h1', class_='h2')[0].text.replace('\n','')
    GD_Med = resp.find_all('div', class_='company-text__highlight-label')[0].text.replace('\n','')
    GD_Act = resp.find_all('div', class_='company-text__highlight-label')[1].text.replace('\n','')
    GD_City = resp.find_all('div', class_='company-text__highlight-label')[2].text.replace('\n','')
    GD_kvk_ref = resp.find_all('div', class_='company-text__highlight-label')[3].text.replace('\n','')
    GD_other_in_list = get_all_companies_in_search_list
    
    
    
    time.sleep(4)
    
    driver.close()
    driver.quit()
    
    return [company_name, company_city, GD_Name,GD_Med,GD_Act,GD_City,GD_kvk_ref,GD_other_in_list]

In [302]:
GD_list = list()

In [303]:

for i in np.arange(i,number_reviews_per_company.shape[0]):
    company_name = number_reviews_per_company.iloc[i]['name']
    company_city = number_reviews_per_company.iloc[i]['city']
    GD_list.append(get_graydongo(company_name,company_city))

/var/folders/6d/dgjgypyn24x1lv9vc5gs38p00000gp/T/ipykernel_21665/2539905306.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

TypeError: object of type 'WebElement' has no len()

In [285]:
number_reviews_per_company.shape[0]

187

In [289]:
GD_list_df = pd.DataFrame(GD_list, columns = ['name', 'city', 'GD_Name','GD_Med','GD_Act','GD_City','GD_kvk_ref'])

GD_list_df.drop_duplicates(inplace = True)
GD_list_df.shape

(187, 7)

In [294]:
GD_list_df.to_csv('./output/scaping_graydongo.csv')

In [292]:
GD_list_df['GD_Med'].value_counts()

1  werknemers                  33
Onbekend aantal  werknemers    26
8  werknemers                  10
2  werknemers                   9
3  werknemers                   8
4  werknemers                   7
25  werknemers                  7
7  werknemers                   6
5  werknemers                   6
10  werknemers                  6
9  werknemers                   4
6  werknemers                   4
12  werknemers                  3
15  werknemers                  3
36  werknemers                  3
26  werknemers                  3
27  werknemers                  2
96  werknemers                  2
38  werknemers                  2
17  werknemers                  2
45  werknemers                  2
20  werknemers                  2
16  werknemers                  2
46  werknemers                  1
24  werknemers                  1
18  werknemers                  1
1698  werknemers                1
113  werknemers                 1
19  werknemers                  1
395  werknemers                 1
37  werknemers                  1
22  werknemers                  1
33  werknemers                  1
162  werknemers                 1
29  werknemers                  1
21  werknemers                  1
11  werknemers                  1
71  werknemers                  1
92  werknemers                  1
49  werknemers                  1
34  werknemers                  1
100  werknemers                 1
62  werknemers                  1
58  werknemers                  1
130  werknemers                 1
91  werknemers                  1
74  werknemers                  1
118  werknemers                 1
1050  werknemers                1
42  werknemers                  1
281  werknemers                 1
75  werknemers                  1
23  werknemers                  1
260  werknemers                 1
70  werknemers                  1
129  werknemers                 1
30  werknemers                  1
307  werknemers                 1
Name: GD_Med, dtype: int64

[WDM] - Downloading: 100%|█████████████████| 8.61M/8.61M [00:00<00:00, 22.6MB/s]
/var/folders/6d/dgjgypyn24x1lv9vc5gs38p00000gp/T/ipykernel_21665/726332107.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

'                    Van den Broek Logistics B.V.                '